$color_primary: rgb(109, 163, 163);
$color_primary_hover: rgb(48, 59, 59);
$color_secondary: rgb(239, 247, 249);
$color_tertiary: rgb(45, 56, 56);
$color_accent: rgb(242, 250, 251);
$desktop: 1400px;
$mobile: 375px;